*.swp
*.aux
*.log
*.toc
auto/
fonts/Calluna-Regular.otf
fonts/CallunaSansRegular.otf
main*.pdf
cover*.pdf
chanting-sample-it.pdf
font-stress-test.pdf
part-pages-test.pdf
pt-precepts-and-metta-sutta.pdf
