@font-face {
  font-family: 'Gentium Incantation';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/GentiumIncantation-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gentium Incantation';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/GentiumIncantation-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu X';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/Ubuntu-X-Medium.ttf') format('truetype');
}
